@charset "utf-8";

{
    text-align: justify;
    margin: 0;
    text-indent: 0;
    margin: 0 10px;
    float: right;
    max-width: 100%;
}

{
    color: #903;
    float: left;
    font-family: serif;
    font-size: 111px;
    font-weight: bold;
    line-height: 60px;
    /*      T R B L */
    padding: 4px 8px 0px 3px;
}

{
    float: left;
    margin: 20px;
    border: 5px solid maroon;
    border-radius: 10px;
    width: 50%;
    height: auto;
}

{
    margin: 20px;
    border: 5px solid maroon;
    border-radius: 10px;
    width: 50%;
    height: auto;
}

{
    float: left;
}

{
    float: right;
}